@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
